
.button{
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-pref-width: 250;
}

.button:hover{
    -fx-border-color: white;
    -fx-border-width: 1px;
}

@font-face {
    font-family: 'Xenogears';
    src: url('file:Assets/Xenogears.ttf') format('truetype');
}

.resetButton{
    -fx-pref-width: 75;
    -fx-font-family: 'Xenogears';
    -fx-background-color: #ff6666;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.text {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 18;
}

.label {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: 'Xenogears';
    -fx-font-size: 20;
}


.WindowName {
    -fx-font-family: 'Xenogears';
    -fx-font-size: 90px;
    -fx-fill: #c634eb;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .7), 20, .5, 10, 10);
}


.MessageOfTheDay {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 20;
}

.QuitScreen {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
}

.HowToPlay {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: Consolas;
    -fx-font-size: 15;
}

.choice-box{
    -fx-background-color: #333;
    -fx-mark-color: white ;
    -fx-pref-width: 250;
}

.choice-box .context-menu {
    -fx-background-color: #333;
    -fx-pref-width: 250;
}

.choice-box .menu-item:focused {
    -fx-background-color: black ;
}



.menu-bar {
    -fx-background-color: #333;
}
.menu:showing {
    -fx-background-color: black;
}

.menu-item {
    -fx-background-color: #c634eb;
    -fx-font-family: 'Xenogears';
}

.menu .menu-item:focused {
    -fx-background-color: black;
}
.context-menu {
    -fx-skin: 'com.sun.javafx.scene.control.skin.ContextMenuSkin';
    -fx-background-color: #333;
}

.list-cell:even:filled:selected:focused, .list-cell:even:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #b5b500 100%);
    -fx-text-fill: white;
}
.list-cell:even {
    -fx-background-color: #333;
}
.list-cell:odd:filled:selected:focused, .list-cell:odd:filled:selected {
    -fx-background-color: linear-gradient(#222 0%, #b5b500 100%);
    -fx-text-fill: white;
}
.list-cell:odd {
    -fx-background-color: #222;
}



.table-view{
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #222;
    -fx-table-cell-border-color: white;
}

.table-row-cell:even{
    -fx-background-color: #333;
    -fx-table-cell-border-color: white;
}
.table-view .column-header {
    -fx-background-color: #222;
}