
.button{
    -fx-background-color: #1fcccc;
    -fx-text-fill: black;
    -fx-font-size: 19px;
    -fx-pref-width: 250;

}

.button:hover{
    -fx-background-color: #169191;
}

@font-face {
    font-family: 'WickedSeventies';
    src: url("WickedSeventies.ttf");
    font-family: 'Arial Rounded MT Bold';
}

/* Not sure we need this */
.resetButton{
    -fx-pref-width: 75;
    -fx-font-family: 'WickedSeventies';
    -fx-background-color: #ff6666;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.text {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 21;
    -fx-font-weight: bold;
}

.backgroundText {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 25;
}

.inputText {
    -fx-fill: black;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 21;
}

.slider . thumb {
    -fx-background-color: #1fcccc;
    -fx-background-size: 40px;
}

.slider . track {
    -fx-background-color: white;
}

.radio-button.radio {
    -fx-background-color: #c634eb;
}

.label {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: 'WickedSeventies';
    -fx-font-size: 20;
}

.menu-item {
    -fx-background-color: #c634eb;
    -fx-font-family: 'WickedSeventies';
    -fx-font-size: 30px;
}

#GameSetup {
    -fx-background-color: #c634eb;
    -fx-font-family: 'WickedSeventies';
    -fx-font-size: 50px;
}

.WindowName {
    -fx-font-family: 'WickedSeventies';
    -fx-font-size: 120px;
    -fx-fill: #c634eb;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .7), 20, .5, 10, 10);
}

#GameSetup {
    -fx-font-size: 120px;
}

#profileName {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}

#gameStateText {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18;
}


.MessageOfTheDay {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 30;
}

.QuitScreen {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 15;
}

.HowToPlay {
    -fx-text-fill: whitesmoke;
    -fx-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20;
    -fx-background-color: #c634eb;
}

.choice-box{
    -fx-background-color: #333;
    -fx-mark-color: white ;
    -fx-pref-width: 250;
}

.choice-box .context-menu {
    -fx-background-color: #333;
    -fx-pref-width: 250;
}

.choice-box .menu-item:focused {
    -fx-background-color: black ;
}

.iniButton {
    -fx-background-color: #c634eb;
}

.iniButton:hover {
    -fx-background-color: #83249c;
}

.menu-bar {
    -fx-background-color: #333;
}
.menu:showing {
    -fx-background-color: black;
}

.menu .menu-item:focused {
    -fx-background-color: black;
}
.context-menu {
    -fx-skin: 'com.sun.javafx.scene.control.skin.ContextMenuSkin';
    -fx-background-color: #333;
}

.list-cell:even:filled:selected:focused, .list-cell:even:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #c634eb 100%);
    -fx-text-fill: white;
}
.list-cell:even {
    -fx-background-color: #333;
}
.list-cell:odd:filled:selected:focused, .list-cell:odd:filled:selected {
    -fx-background-color: linear-gradient(#222 0%, #c634eb 100%);
    -fx-text-fill: white;
}
.list-cell:odd {
    -fx-background-color: #222;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-row-cell:odd{
    -fx-background-color: #222;
    -fx-table-cell-border-color: white;
}

.table-row-cell:even{
    -fx-background-color: #333;
    -fx-table-cell-border-color: white;
}
.table-view .column-header {
    -fx-background-color: #222;
}
